        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="/assets/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/assets/metisMenu/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <!-- <script src="/assets/raphael/raphael.min.js"></script> -->
    <!-- <script src="/assets/morrisjs/morris.min.js"></script> -->
    <!-- <script src="/assets/morris-data.js"></script> -->

    <!-- Custom Theme JavaScript -->
    <script src="/assets/bootstrap_test.js"></script>

</body>

</html>
