</body>

<script src='assets/javascripts/d3.js' type='text/javascript'></script>
<script src='assets/javascripts/queue.js' type='text/javascript'></script>
<script src='assets/javascripts/moment.js' type='text/javascript'></script>
<script src='assets/javascripts/my-moment.js' type='text/javascript'></script>
<script src='assets/baktimeline.js' type='text/javascript'></script>
<script src='assets/bakmap.js' type='text/javascript'></script>
<script src='assets/main.js' type='text/javascript'></script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAq-SoSY8Dw59k9wK-n0bUc9_YQbcbAcUQ&callback=initFRONT"></script>

</html>
