<% include header %>

<div id="page-wrapper">
  
  <div class="row">

    <div class="col-lg-2"> 
      <% include panel_control %>
    </div>
    
    <div class="col-lg-10">
      <% include panel_table %>
    </div>

  </div>

</div>

<% include footer %>