<div class="panel panel-default">
  <div class="panel-heading">
    <% if(!locals.wikiDatas) { %>

    <p class="bg-warning">No dataId</p>

    <% } else { %>

    <td><%= wikiDatas.dataId %></td>

    
    <div class="panel-body">
      <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
        <thead>
          <tr>

            <% Object.keys(wikiDatas.list[0]).forEach((dataKey) => { %>
                <th><%= dataKey %></th>
            <% }) %>

          </tr>
        </thead>
        <tbody>

          <% wikiDatas.list.forEach((wikiData) => { %>
            <tr>
          
              <% Object.keys(wikiData).forEach((dataKey) => { %>
                
                <td><%= wikiData[dataKey] %></td>
          
              <% }) %>
            </tr>
          <% }) %>

          

        </tbody>
      </table>
    </div>

    <% } %>
  </div>
</div>

